---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main class="font-mono">
		<h1 class="text-4xl font-bold">Hi, I'm Gabriel Yang.</h1>
		<p>I am a software engineer.</p>
	</main>
</Layout>