---
import type { Social, SocialType } from '../types/types';
import SocialIcon from './SocialIcon.astro';

export interface Props {
  social: Social;
}

const { social } = Astro.props;
---

<footer class='my-8 flex flex-col items-center justify-center'>
  <div class='flex flex-row gap-4'>
    {
      Object.entries(social).map(([type, url]) => {
        return (
          <a
            href={url}
            class='group p-2 focus:outline-dashed focus:outline-2 focus:outline-slate-700 dark:focus:outline-slate-50'
            aria-label={type}
          >
            <SocialIcon type={type as SocialType} />
          </a>
        );
      })
    }
  </div>
</footer>
