---
import { SunIcon, MoonIcon } from 'astro-feather';
---

<header class='flex min-w-full flex-row items-center justify-center p-4'>
  <div class='container flex justify-end'>
    <button
      class='group p-2 focus:outline-dashed focus:outline-2 focus:outline-slate-700 dark:focus:outline-slate-50'
      id='btn-toggle-theme'
      title='Toggle dark & light mode'
    >
      <SunIcon customClasses='dark:block hidden group-hover:rotate-12' />
      <MoonIcon customClasses='dark:hidden block group-hover:rotate-12' />
    </button>
  </div>
</header>
