---
import Footer from '../components/Footer.astro';
import type { SiteConfig } from '../types/types';
import '../styles/global.css';

export interface Props {
  siteConfig: SiteConfig;
}

const { siteConfig } = Astro.props;
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/png' href='/favicon.png' />
    <meta name='generator' content={Astro.generator} />
    <title>{siteConfig.title}</title>
  </head>
  <body class='flex min-h-screen flex-col'>
    <main class='flex flex-1 flex-col items-center justify-center font-mono'>
      <slot />
    </main>
    <Footer social={siteConfig.social} />
  </body>
</html>
